@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@font-face {
  font-family: Robotic;
  src: url("./assets/BunkenTechSansPro-Light.ttf");
}
body{
  background-color: #000c1a;
}
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Robotic {
  font-family: Robotic;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.brands-gradient {
  background: linear-gradient(90deg, #00c8cf, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight:600;
}

.transparent-blur-button {
  color: #fff; /* Text color */
  padding: 10px 20px; /* Button padding */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Semi-transparent border */
  border-radius: 8px; /* Rounded corners */
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Background blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  cursor: pointer; /* Pointer cursor on hover */
  transition:  0.3s ease, color 0.3s ease; /* Smooth transition */
}
.transparent-blur-button2 {
  color: #fff; /* Text color */
  padding: 10px 20px; /* Button padding */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Semi-transparent border */
  border-radius: 8px; /* Rounded corners */
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Background blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  cursor: pointer; /* Pointer cursor on hover */
  transition:  0.3s ease, color 0.3s ease; /* Smooth transition */
}

.nav_blue{
  background-color: rgb(7, 12, 26);
}
.bg-card-img{
  background-image: url(/public/bg-portfolio.png);
  min-height: 900px;
  background-size: cover;
}
.bg-content-img{
  background-image: url(./assets/Images/bg-support.png);
  min-height: 700px;
  background-size: cover;
  background-position: center;
}